body { 
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--baseBackground);
  color: var(--baseColor) ;

  font-family: 'Sriracha', cursive;
  font-size: 18px;
}

/* Global Var */

:root{ 

  --cardGray: #f0f3fa;
  --baseBackground: white; 
  --baseColor: #1d2029;

  --gray: #8088ad;
  --lime-green: hsl(163, 72%, 41%);
  --electron-blue: hsl(203, 89%, 53%);
  --lightGray: #f8f9fe;
  
  --cardTitle: #6f717e;
     
  --hovercolor: rgb(23, 23, 23);
}

/* 

Form (Login)

*/
 
.margin-center-styles {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-label-color{
  color: var(--gray);
}

/*

Cards (Home)

*/

.images-sizes{
  height: 231.45px; 
}

.card{
  background: var(--cardGray);
}

.title-card-color{
  color: var(--baseColor);
}

/*

Cards (Detail)

*/

.title-detail-picture{
    display: inline;
}

.size-img-text{
  float: right;
  color: var(--cardTitle);
}

.website-detail-text{
  color: var(--lime-green);
  font-weight: normal;
}

@media screen and (max-width: 992px) {
  .title-detail-picture {
    display: inherit;
  }
  .size-img-text{
    float: inherit;
  }
}

/*

Dark and Light Mode

*/

@media (prefers-color-scheme: dark) {

  :root {
    --cardGray: #252b43;
    --baseBackground: #1d2029;
    --baseColor: white;

    --gray: #8088ad;
    --lightGray: #1d2029;
    --cardTitle: #8088ad;

    --hovercolor: rgb(23, 23, 23);
  }
}

.is-dark-mode {
  --cardGray: #252b43;
  --baseBackground: #1d2029;
  --baseColor: white;

  --gray: #8088ad;
  --lightGray: #1d2029;
  --cardTitle: #8088ad;
 
  --hovercolor: rgb(23, 23, 23);
}

.is-light-mode {
  --cardGray: #f0f3fa;
  --baseBackground: white;
  --baseColor: #1d2029;
  
  --gray: #5f616d;
  --lightGray: #f8f9fe;
  --cardTitle: #6f717e;
  
  --hovercolor: rgb(230, 230, 230);
}
