.margin-center-styles {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .login-label-color{
    color: var(--gray);
  }
  
  .alert-margin-movil{
    margin-right: 30px;
  }
  
  @media screen and (max-width: 575px) {
    .form-margin-movil{
      margin-right: 50px;
    }
  }
  